.bottom-bar {
    position: relative;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background:gray;
};

#report-card-svg {
    background: blue;
};

.tooltip {
    background:blue;
}