<!DOCTYPE html>
<html>

<head>
    <title>Education Data Dashboard</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <div class="welcome">
        <h1>Welcome to the NAEP 2013 Data Dashboard!</h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div id="chart"></div>
                <div class="well">
                    <div class="well col-md-4">
                        <h5>Select Subject:</h5>
                        <select id="selSubject"
                                onchange="subOptionChanged(this.value)"></select>
                    </div>
                    <div class="well col-md-4">
                        <h5>Select Grade:</h5>
                        <select id="selGrade"
                                onchange="gradeOptionChanged(this.value)"></select>
                    </div>
                    <div class="well col-md-4">
                        <h5>Select Sex:</h5>
                        <select id="selSex"
                                onchange="sexOptionChanged(this.value)"></select>
                    </div>
                </div>
            </div>
        </div>
        <div id="report-card"
             class= "col-md-5">
        </div>
    </div>

    <div class="row bottom-bar">
        <span class="producers">Produced by Stew LaPan and Tyler Buck</span>
    </div>

    <link href="../static/css/main.css"
        rel="stylesheet" />
    <link href="../static/css/c3.css"
        rel="stylesheet">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="../static/js/c3.min.js"></script>
    <script src="../static/js/report_card.js"></script>
    <script src="../static/js/main.js"></script>


</body>

</html>