<!DOCTYPE html>
<html>
<head>
    <title>Education Data Dashboard</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src= "../static/js/main.js"></script>
</head>

<body>
    <h1>Welcome to the Education Data Dashboard!</h1>
    <div id="report-card"></div>
    <div id="map"></div>
    <div class="graphs">
        <div id="graph-1"></div>
        <div id="graph-2"></div>
        <div id="graph-3"></div>
    </div>

    <div class="bottom-bar">
        <span class="producers">Produced by Stew LaPan and Tyler Buck</span>
    </div>
</body>

</html>