<!DOCTYPE html>
<html>

<head>
    <title>Education Data Dashboard</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


</head>

<body>
    <h1>Welcome to the Education Data Dashboard!</h1>
    <div class="row">
        <div id="chart"
             class="col-md-8"></div>
    </div>

    <div class="col-md-4">
        <div class="well">
            <h5>SELECT Subject:</h5>
            <select id="selSubject"
                    onchange="optionChanged(this.value)"></select>
            <h5>SELECT Grade:</h5>
            <select id="selGrade"
                    onchange="optionChanged(this.value)"></select>
        </div>
        
        <!-- <p> Stuff goes here</p> -->
    </div>
    <div class="bottom-bar">
        <span class="producers">Produced by Stew LaPan and Tyler Buck</span>
    </div>

    <link href="../static/css/main.css"
          rel="stylesheet" />
    <link href="../static/css/c3.css"
          rel="stylesheet">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="../static/js/c3.min.js"></script>
    <script src="../static/js/main.js"></script>
    

</body>

</html>